.chat-container{
    background-image: url(https://images8.alphacoders.com/479/thumb-1920-479554.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 755px;
    display: flex;
    // justify-content: center;
    align-items: center;
// margin: auto;
}

.chat-body{
    // margin: 0 50px;
    padding: 0 100px;
    width: 100%;
}
