*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.products-search {
    display: flex;
    justify-content: space-between;
}

.container{
    background-color: black;
}

.product-card{
    background-color: transparent;
    border: none;
}


.product-card:hover{
    transition: 0.5s;
    padding: 5px;
}